<div>TEST ME</div>

BEGIN 
  PSEC_CONFIG_OPERATIONS.SETCLIENTOPTION('8084828478', 'PAPER_SUPPRESSION_SUPPORTED', 'true');
  PSEC_CONFIG_OPERATIONS.SETCLIENTOPTION('8084828478', 'SUPPORTED_ACCOUNT_NOTIF_TYPES', 'PAPER_SUPPRESSION');
  PSEC_CONFIG_OPERATIONS.SETCLIENTOPTION('8084828478', 'ACCOUNT_UPDATE_ADAPTER_CLASS', 'com.paymentus.paybox.web.otp.custom.trtn.TRTNAccountUpdateAdapter');
  PSEC_CONFIG_OPERATIONS.SETCLIENTOPTION('8084828478', 'RT_ACCOUNT_UPDATE_URL', 'https://ivrdirectortest.cityofthornton.net/director.asmx');
  PSEC_CONFIG_OPERATIONS.SETCLIENTOPTION('8084828478', 'ADV_FULL_KEY', 'VHJ1ZSxUcnVl-A5u1o1/BqZg=');
  PSEC_CONFIG_OPERATIONS.SETCLIENTOPTION('8084828478', 'ADV_PORTAL_ID', '0');
  commit;
END;
/