<div><!-- Header -->Place Header Here {{title}}</div>

<div ng-include src="'templates/base-layout.html'"></div>

<!-- Customized page content -->
<!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a class=" modal-action modal-close waves-effect waves-green btn-flat">Done</a>
    </div>
  </div>

  <div id="modal2" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a class=" modal-action modal-close waves-effect waves-green btn-flat">Done</a>
    </div>
  </div>

    <div id="modal3" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a class=" modal-action modal-close waves-effect waves-green btn-flat">Done</a>
    </div>
  </div>

    <div id="modal4" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a class=" modal-action modal-close waves-effect waves-green btn-flat">Done</a>
    </div>
  
	</div>
	</div>



Payment blocking is added to the LiabilityRecord.
	Uses the command record.addPaymentMethodBlock(Type.MC.getCode() , true)
	A full list of all the types can be found in PaymentMethodConfig.java


		block credit:
			record.addPaymentMethodBlock(Type.MC.getCode(), true);
			record.addPaymentMethodBlock(Type.VISA.getCode(), true);
			record.addPaymentMethodBlock(Type.AMEX.getCode(), true);
			record.addPaymentMethodBlock(Type.DISC.getCode(), true);
		block cheques:
			record.addPaymentMethodBlock(Type.CHQ.getCode(), true);
			record.addPaymentMethodBlock(Type.SAV.getCode(), true);
