<div><!-- Header -->Place Header Here {{title}}</div>

<div ng-include src="'templates/base-layout.html'"></div>

<!-- Customized page content -->
<!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a class=" modal-action modal-close waves-effect waves-green btn-flat">Done</a>
    </div>
  </div>

  <div id="modal2" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a class=" modal-action modal-close waves-effect waves-green btn-flat">Done</a>
    </div>
  </div>

    <div id="modal3" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a class=" modal-action modal-close waves-effect waves-green btn-flat">Done</a>
    </div>
  </div>

    <div id="modal4" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a class=" modal-action modal-close waves-effect waves-green btn-flat">Done</a>
    </div>
  
	</div>
	</div>



	to use Update Partial instead of Update Full: record.setRetainClientDataFields(true) in the CIF Parser's populateLiabilityRecord function
	the update partial/full code is found in paymp_liability_obj
	to override update partial/full: you should make your own paymp_liability_obj (paymp_tla_liability_obj)
	to use the custom paymp_tla_liability_obj: create a new custom LiabilityRecord (tlaLiabilityRecord) with BASE_TYPE_NAME set to paymp_tla_liability_obj.
	to use the custom Liability record: In the CIF parser Override initLiabilityRecord and return new tlaLiabilityRecord().